<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrows</title>
</head>
<body>
    <h1>Borrows</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Book</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            <% borrows.forEach(borrow => { %>
                <tr>
                    <td><%= borrow._id %></td>
                    <td><%= borrow.user.name %></td>
                    <td><%= borrow.book.title %></td>
                    <td><%= borrow.borrowDate %></td>
                    <td><%= borrow.returnDate %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
